* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#imageOne {
    background-image: url('https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
}

#imageTwo {
    background-image: url('https://images.unsplash.com/photo-1511884642898-4c92249e20b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
}

#imageThree {
    background-image: url('https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')
}

#imageFour {
    background-image: url('https://images.unsplash.com/photo-1519981508294-956b108375b8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80')
}

#imageFive {
    background-image: url('https://images.unsplash.com/photo-1486728297118-82a07bc48a28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1529&q=80')
}

.container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    flex: 0.5;
    height: 80vh;
    border-radius: 50px;
    margin: .6em;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
    -webkit-transition: all 700ms ease-in;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.panel h3 {
    font-size: 1.5em;
    position: absolute;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    margin: 0 0 1.5em 2em;
}

@media screen and (max-width: 480px){
    .container {
        width: 100%;
    }

    #imageFour {
        display: none;
    }
    #imageFive {
        display: none;
    }
}